.footer{
    .footer__top{
        margin-bottom: 74px;
    }
    .footer__links{
        text-align: center;
        .footer__links-item-link{
            font-size: 24px;
            color:#0C2836;
        }
    }
    .footer__info{
        text-align: end;
    }
    .footer__copyright{
        text-align: center;
        font-size: 14px;
        padding-bottom: 28px;
    }
}




